.favorites-container {
  text-align: center;
  padding: 2rem;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.favorites-grid button {
    padding: 5px 10px;
    background-color: pink;
    color:  gray;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.favorites-grid button:hover {
    background-color: purple;
    color: white;
}
